<h2><%= @sensor.name %></h2>
<p><%= @sensor.model %></p>
<p><%= @sensor.brand %></p>
<p><%= @sensor.serial_number %></p>
<% if @sensor.status %>
	<p>Status: Working</p>
<% else %>
	<p>Status: Not Working</p>
<% end %>
<p><%= @sensor.serial_number %></p>
<p><%= @sensor.comment %></p>
<img src=<%= @sensor.image %> alt="">
<br>
<%= link_to "Delete #{@sensor.name}",
            sensor_path(@sensor),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger mt-1" %>

<br>

<%= link_to 'edit', edit_sensor_path, class: "btn btn-danger mt-1" %>

<br>

<%= link_to 'Back to list', sensors_path, class: "btn btn-primary mt-1"%>

